# ======================
# ML Models
# ======================
*.pt
*.onnx
*.engine

# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
*.pyc
.env
.venv
venv/

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# Docker / Logs
# ======================
*.log

# ======================
# Databases
# ======================
postgres_data/
redis_data/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
*.swp
*.tmp

